/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    background-color: #141922;
}
i{
    cursor: pointer;
}
/* UTILITIES */
/* cursor */
.curs-point{
    cursor: pointer;
}
/* color */
.cl-white{
    color: white;
}
.cl-grey{
    color: #7d7f84;
}
/* filter */
.filt-grey{
    filter: invert(50%);
}
/* padding */
.p-tl-20px{
    padding-top: 20px;
    padding-left: 20px;
}

.pl-20px{
    padding-left: 20px;
}
.pr-20px{
    padding-right: 20px;
}
.px-20px{
    padding: 0 20px;
}
.py-20px{
    padding: 20px 0;
}
.pt-30px{
    padding-top: 30px;
}
/* margin */
.mb-30px{
    margin-bottom: 30px;
}

.mb-10px{
    margin-bottom: 10px;
}
.mb-20px{
    margin-bottom: 20px;
}
.mt-10px{
    margin-top: 10px;
}
.mt-50px{
    margin-top: 50px;
}
.ml-10px{
    margin-left: 10px;
}
.ml-20px{
    margin-left: 20px;
}
.ml-30px{
    margin-left: 30px;
}
.mr-10px{
    margin-right: 10px;
}
.mr-20px{
    margin-right: 20px;
}
/* border */
.bord-rad50{
    border-radius: 50%;
}
/* overflow */
.overflow-Y{
    overflow-y: auto;
}
/* display-flex */
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.grow-1{
    flex-grow: 1;
}
/* font-size */
.fnts-35px{
    font-size: 35px;
}
/* list */
.no-list-style{
    list-style: none;
}
/* display */
.disp-none{
    display: none;
}
/* button */
.btn{
    padding: 10px 40px;
    color: white;
    border: 1px solid currentColor;
    background-color: transparent;
    border-radius: 20px;
    font-size: 1em;
    transition: font-size .3s;
}
/* text-decoration */
.txt-dec-none{
    text-decoration: none;
}
/* position-absolu-cent */
.absolute-cent{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*  */
/* HEADER */
header{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    text-align: right;
    padding: 0px 30px;
    line-height: 100px;
    z-index: 1;
}

/* ASIDE */
aside{
    background-color: #000;
    min-width: 250px;
    z-index: 2;
}

aside .logo{
    width: 200px;
}
.logo img{
    width: 100%;
}
/* info */
.aside-info .info-icon,
.footer-aside .info-icon {
    height: 35px;
    align-items: center;
}
.aside-info .info-icon{
    border-left: 5px solid transparent;
}
.info-icon img{
    height: 100%;
}
/* playlist */
.add-playlist{
    cursor: pointer;
}
.add-playlist .plus{
    background-color: #a3a3a3;
    padding: 10px;
    font-size: 25px;
    color: black;
}
/* footer-aside */
.footer-aside .info-icon img{
    border-radius: 50%;
    background-color: #808080;
}
/* MAIN-CONTAINER */
.main-container{
    /* border: 1px solid blue; */
    padding-top: 120px;
}
/* main-cont-nav */
.main-contaeiner-nav{
    /* border: 1px solid red; */
    justify-content: center;
}

/* albums */
.albums-row{
    flex-wrap: wrap;
    /* border: 1px solid  purple; */
}
.album-card{
    width: calc(100% / 6 - 20px);
    /* border: 1px solid orange; */
}
.album-img{
    width: 100%;
}
.album-img img{
    width: 100%;
}
.album-title{
    /* border: 1px solid blue; */
    text-align: center;
}

/* FOOTER */
footer{
    background-color: #282828;
    justify-content: space-between;
    padding: 10px;
}
footer .content {
    /* border: 1px solid green; */
    /* padding: 10px 10px; */
    width: calc(100% / 3);
}
/* left */
footer .content.left{
    align-items: center;
}

.cont-left-img img{
    width: 50px;
}
/* center */
footer .content.center{
    align-items: center;
}
.cont-cent-top{
    font-size: 20px;
    align-items: center;
}
.cont-cent-bottom{
    width: 100%;
    align-items: center;
}
.progress{
  width: 100%;
  height: 5px;
  background: #585858;
  border-radius: 10px;
  align-items: center;
}
  
.progress-bar{
    display: block;
    width: 20%;
    height: 100%;
    background: #a3a3a3;
}
/* right */
footer .content.right{
    align-items: center;
    justify-content: flex-end;
}
.content.right .progress{
    width: 30%;
}

/* HOVER-ASIDE */
/* nav */
.aside-info .info-icon:hover{
    border-color: #9be42a;
    color: white;
}
.aside-info .info-icon:hover img{
    filter: invert(0);
}
/* playlist */
.list-playlist li:hover{
    color:white;
    cursor: pointer;
}
.add-playlist:hover .plus{
    background-color: white;
}
.add-playlist:hover span{
    color: white;
}

/* HOVER-HEADER */
header .btn:hover{
    font-size: 1.1em;
}
/* HOVER-MAIN-CONTAINER */
/* nav */
.main-contaeiner-nav li::after {
    content: '';
    width: 40px;
    margin: auto;
    height: 3px;
    background-color: transparent;
}
.main-contaeiner-nav li:hover a{
    color: white;
}
.main-contaeiner-nav li:hover::after{
    display: block;
    background-color: #9be42a;
}

/* albums */
.album-img{
    position:relative;
    cursor: pointer;
}
.album-img img:hover{
    filter: opacity(50%);
}
.albums-row .play-icon{
    display: none;
    font-size: 80px;
}
.albums-row .album-img:hover .play-icon{
    display: block;
}

/* HOVER FOOTER */
/* left */
footer .cont-left-text span:hover{
    color: white;
    border-bottom: 1px solid currentColor;
}
footer .cont-left-txt-icon i:hover{
    color: white;
}
/* center */
.progress-circle{
    display: none;
}
footer .progress:hover .progress-bar{
    background-color: #9be42a;
}
footer .progress:hover .progress-circle{
    display: block;
}
.cont-cent-top .play-icon:hover{
    transform: scale(1.2);
}

/**********
RESPONSIVE 
***********/
/* desktop */
@media  screen and (max-width: 1440px) {
    .album-card .album-title h2{
        font-size: 15px;
    }
}
/* tablet */
@media  screen and (max-width: 878px) {
    .album-card {
        width: calc(100% / 4 - 20px);
    }
    .album-card .album-title span{
        font-size: 10px;
    }
    .main-contaeiner-nav ul{
        flex-wrap: wrap;
        font-size: 15px;
        justify-content: center;
        line-height: 60px;
    }
}
/* small-tablet */
@media  screen and (max-width: 639px) {
    .main-container h1{
        font-size: 30px;
    }
    .album-card {
        width: calc(100% / 2 - 20px);
    }
    footer .content.left{
        margin-right: 20px;
    }
    footer .cont-left-text span{
        font-size: 12px;
    }

    footer .cont-left-txt-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .cont-left-txt-icon .file{
        padding-right: 5px;
        padding-top: 5px;
    }
}
/* phone */
@media  screen and (max-width: 560px){
    .main-container h1{
        font-size: 20px;
    }
    
    aside .logo,
    aside span,
    aside .playlist,
    aside .list-playlist ul,
    aside hr{
        display: none;
    }

    aside .logo-small{
        display: block;
        width: 60px;
        margin-left: 5px;
    }
    .footer-aside .add-playlist i{
        margin-left: 5px;
    }
    aside{
        min-width: max-content
    }
    .content.left{
        margin-right: 10px;
    }
    .content.right .icon-right{
        margin-left: 3px;
    }
    .main-contaeiner-nav ul {
        font-size: 14px;
    }
}
