/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
}
/* UTILITIES */
/* padding */
.p-tl-20px{
    padding-top: 20px;
    padding-left: 20px;
}
.pl-20px{
    padding-left: 20px;
}
.px-20px{
    padding: 0 20px;
}
/* margin */
.mb-30px{
    margin-bottom: 30px;
}

.mb-10px{
    margin-bottom: 10px;
}
.mt-10px{
    margin-top: 10px;
}
.ml-10px{
    margin-left: 10px;
}
.mr-10px{
    margin-right: 10px;
}
/* overflow */
.overflow-Y{
    overflow-y: auto;
}

/* display-flex */
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.grow-1{
    flex-grow: 1;
}

/* list */
.no-list-style{
    list-style: none;
}

/* button */
.btn{
    padding: 10px 40px;
    color: white;
    border: 1px solid currentColor;
    background-color: transparent;
    border-radius: 20px;
}
/*  */

/* ASIDE */
aside{
    background-color: #000;
    min-width: 250px;
    color: white;
    z-index: 1;
}

aside .logo{
    width: 200px;
}
.logo img{
    width: 100%;
}
/* info */
.aside-info .info-icon,
.footer-aside .info-icon {
    height: 35px;
    align-items: center;
}
.info-icon img{
    height: 100%;
}
/* playlist */
.playlist .plus{
    background-color: grey;
    padding: 10px;
    font-size: 25px;
    color: black;
}
/* footer-aside */
.footer-aside .info-icon img{
    border-radius: 50%;
    background-color: #808080;
}
/* MAIN-CONTAINER */
.main-container{
    background-color: #141922;
    color: white;
}
.main-contaeiner-content{
    margin-top: 100px;
    width: 100%;
}
header{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    text-align: right;
    padding: 30px 30px;
}

/* FOOTER */
footer{
    background-color: #282828;
    padding: 30px 10px;
}