/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
}
/* UTILITIES */
/* padding */
.p-tl-20px{
    padding-top: 20px;
    padding-left: 20px;
}
.pl-20px{
    padding-left: 20px;
}
/* margin */
.mb-30px{
    margin-bottom: 30px;
}

.mb-10px{
    margin-bottom: 10px;
}
.ml-10px{
    margin-left: 10px;
}
/* overflow */
.overflow-Y{
    overflow-y: auto;
}

/* display-flex */
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.grow-1{
    flex-grow: 1;
}
/*  */
/* MAIN */
main{
    background-color: lightblue;
}
/* aside */
aside{
    background-color: #000;
    min-width: 250px;
    color: white;
    z-index: 1;
}

aside .logo{
    width: 200px;
}
.logo img{
    width: 100%;
}
.aside-info .info-icon{
    border: 1px solid white;
    height: 40px;
    align-items: center;
}
.info-icon img{
    height: 100%;
}
/* main-container */
.main-container{
    background-color: #141922;
    color: white;
}
.main-contaeiner-content{
    margin-top: 100px;
    width: 100%;
}
header{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    text-align: right;
    padding: 30px 30px;
}

/* FOOTER */
footer{
    background-color: #282828;
    padding: 30px 10px;
}